@model List<Category>
@{
    ViewBag.Title = "Категории";
    Layout = "_Layout";
}
<h2>Категории</h2>
<a asp-action="Create" asp-controller="Categories">Добавить категорию</a>
<div class="table_section">

    @if (@Model.Count == 0)
    {
        <p>Категории еще не добавлены</p>
    }
    else
    {
        <table style="width: 100%;">
            <tr>
                <th>Id</th>
                <th>Название</th>
            </tr>
            @foreach (var category in @Model)
            {
        <tr>
            <td>@category.Id</td>
            <td>@category.Name</td>
            <td>
                @using (Html.BeginForm("Delete", "Categories", new { id = @category.Id }))
                {
                    <button type="submit">Delete</button>
                }
            </td>
        </tr>
            }
        </table>
    }
</div>
