@model homework_55.ViewModel.BrandAndCompanyViewModel
@{
    ViewBag.Title = "Добавить продукт";

    Layout = "_Layout";

}
<h2>Заполните форму для добавления продуктов</h2>
<div class="row">
    <div class="phone_add_form col-md-6">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Product.Id" />
            <div class="form_row">
                <label for="">
                    Наименование
                    <input asp-for="Product.Name" type="text" required>
                    <span asp-validation-for="Product.Name" />
                </label>
            </div>
            <div class="form_row">
                <label for="">
                    Цена
                    <input asp-for="Product.Price" type="number" required>
                    <span asp-validation-for="Product.Price" />
                </label>
            </div>
            <div class="form_row">
                <label for="">
                    Выберите фото
                    <input type="file" name="uploadedFile" required/>
                </label>
            </div>
            <div>
                <label asp-for="Product.Brend"></label>
                <select asp-for="Product.BrendId" asp-items="ViewBag.brands"></select>
            </div>
            <div>
                <label asp-for="Product.Category"></label>
                <select asp-for="Product.CategoryId" asp-items="ViewBag.categories"></select>
            </div>
            <button type="submit">Create</button>
        </form>
        @section Scripts
        {
            @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
        }
    </div>

</div>
